/* profile__title */

#profile__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  .title__left {
    display: flex;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
  }
  .title__left h1 {
    padding-left: 10px;
  }
  .title__right i {
    padding: 10px;
    background-color: lightgray;
    border-radius: 50%;
    font-size: 20px;
  }
  
  /* main profile */
  #mainprofile {
    padding: 0 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainprofile__back {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    margin-top: 50px;
    position: relative;
  }
  .profile__minji {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid white;
  }
  #mainprofile i {
    font-size: 23px;
    padding: 10px;
    background-color: lightgray;
    border: 3px solid white;
    border-radius: 50%;
    margin-left: 70px;
    margin-top: 50px;
  }
  .profile__foricon {
    position: absolute;
    margin-top: 240px;
    margin-left: -140px;
  }
  .profile__changeicon {
    position: absolute;
    margin-top: 100px;
    margin-left: -130px;
  }
  .main__profile-change {
    position: absolute;
    margin-top: 360px;
  }
  
  /* profile__list */
  #profile__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
  }
  .profile__button {
    display: flex;
    margin-top: 20px;
    align-items: center;
  }
  .profile__button-story {
    padding: 10px 50px;
    background-color: #1a78ee;
    border-radius: 8px;
    margin-right: 10px;
  }
  .profile__story {
    font-size: 20px;
    color: white;
  }
  .profile__button-story i {
    padding: 3px;
    background-color: white;
    border-radius: 50%;
    color: #1a78ee;
    margin-right: 10px;
    font-size: 14px;
  }
  .profile__button-ecl i {
    padding: 10px;
    background-color: lightgray;
    border-radius: 8px;
    color: black;
    font-size: 20px;
  }
  /* my state */
  .my__state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  .my__state-list {
    display: flex;
    margin: 10px;
    font-size: 20px;
    color: gray;
  }
  .my__state-list i {
    padding-right: 10px;
  }
  